.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: black;
  z-index: 0;
}

/* 1. Deep Space Gradient */
.mainBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  z-index: -1;
}

/* 2. Star Animations */
@keyframes animStar {
  from { transform: translateY(0px); }
  to { transform: translateY(-2000px); }
}

/* --- STAR MAPS (Pure CSS) --- */

/* SMALL STARS */
.stars1 {
  width: 1px;
  height: 1px;
  background: transparent;
  opacity: 0.8;
  animation: animStar 50s linear infinite;
  
  box-shadow: 
    1744px 122px #FFF, 134px 1321px #FFF, 92px 859px #FFF, 1843px 299px #FFF, 592px 823px #FFF, 
    29px 129px #FFF, 823px 928px #FFF, 1290px 1093px #FFF, 1002px 102px #FFF, 292px 392px #FFF, 
    1029px 828px #FFF, 839px 29px #FFF, 1928px 392px #FFF, 928px 1293px #FFF, 102px 843px #FFF,
    493px 1929px #FFF, 1923px 439px #FFF, 293px 929px #FFF, 834px 29px #FFF, 102px 839px #FFF,
    1829px 293px #FFF, 293px 823px #FFF, 823px 192px #FFF, 128px 829px #FFF, 829px 129px #FFF,
    392px 1029px #FFF, 1029px 392px #FFF, 293px 102px #FFF, 129px 293px #FFF, 1928px 829px #FFF,
    456px 178px #FFF, 178px 456px #FFF, 987px 234px #FFF, 234px 987px #FFF, 1567px 890px #FFF,
    890px 1567px #FFF, 345px 1234px #FFF, 1234px 345px #FFF, 678px 1902px #FFF, 1902px 678px #FFF,
    123px 1890px #FFF, 1890px 123px #FFF, 1456px 567px #FFF, 567px 1456px #FFF, 789px 1678px #FFF,
    1678px 789px #FFF, 234px 1567px #FFF, 1567px 234px #FFF, 890px 1456px #FFF, 1456px 890px #FFF,
    112px 1876px #FFF, 1876px 112px #FFF, 432px 1321px #FFF, 1321px 432px #FFF, 765px 1543px #FFF,
    1543px 765px #FFF, 187px 1298px #FFF, 1298px 187px #FFF, 543px 1765px #FFF, 1765px 543px #FFF,
    987px 1432px #FFF, 1432px 987px #FFF, 321px 1654px #FFF, 1654px 321px #FFF, 654px 1987px #FFF,
    1987px 654px #FFF, 123px 1324px #FFF, 1324px 123px #FFF, 456px 1789px #FFF, 1789px 456px #FFF,
    789px 1234px #FFF, 1234px 789px #FFF, 123px 1678px #FFF, 1678px 123px #FFF, 456px 1456px #FFF,
    1456px 456px #FFF, 789px 1890px #FFF, 1890px 789px #FFF, 234px 1543px #FFF, 1543px 234px #FFF,
    567px 1298px #FFF, 1298px 567px #FFF, 890px 1765px #FFF, 1765px 890px #FFF, 123px 1432px #FFF,
    1432px 123px #FFF, 456px 1654px #FFF, 1654px 456px #FFF, 789px 1987px #FFF, 1987px 789px #FFF;
}

/* MEDIUM STARS */
.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  opacity: 0.6;
  animation: animStar 100s linear infinite;
  
  box-shadow: 
    1293px 829px #FFF, 928px 102px #FFF, 1029px 293px #FFF, 293px 829px #FFF, 1928px 392px #FFF,
    102px 829px #FFF, 829px 102px #FFF, 392px 1293px #FFF, 1293px 392px #FFF, 192px 293px #FFF,
    178px 1456px #FFF, 1456px 178px #FFF, 567px 1890px #FFF, 1890px 567px #FFF, 987px 1234px #FFF,
    1234px 987px #FFF, 345px 1678px #FFF, 1678px 345px #FFF, 789px 1543px #FFF, 1543px 789px #FFF,
    234px 1298px #FFF, 1298px 234px #FFF, 678px 1765px #FFF, 1765px 678px #FFF, 123px 1432px #FFF,
    1432px 123px #FFF, 456px 1654px #FFF, 1654px 456px #FFF, 890px 1987px #FFF, 1987px 890px #FFF;
}

/* LARGE STARS */
.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  opacity: 0.4;
  animation: animStar 150s linear infinite;
  
  box-shadow: 
    928px 928px #FFF, 29px 19px #FFF, 1502px 1202px #FFF, 402px 802px #FFF, 1102px 1602px #FFF, 
    202px 402px #FFF, 1802px 1402px #FFF, 702px 202px #FFF, 1202px 802px #FFF, 1602px 1102px #FFF,
    402px 1802px #FFF, 802px 402px #FFF, 1402px 702px #FFF, 202px 1202px #FFF, 1102px 1602px #FFF;
}

/* 3. Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 10;
}